.status-bar{
    position: fixed;
    top: 0;
    width: 100%;
}
.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box;
    /박스에 패딩을 설정하면 박스 사이즈가 패딩을 넣은만큼 늘어난다. 
    그래서 화면 밖으로 아이콘이 사라질 수 있다. 
    그러므로 border-box는 박스 사이즈를 늘리지 말라는 것을 의미한다./
    border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav__list{
    display: flex;
    justify-content: space-between;
}
.nav__link{
    position: relative;
    color: #2e363e;
}
.nav__notification{
    background-color: tomato;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 15px;
    bottom: 15px;
    }

    .nav-notification-e{
        background-color: tomato;
        color: tomato;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        font-size: 1px; 
        position: absolute; 
        right: -5px  
    }


